@model seminarium.Models.Author

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_ur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_ur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zyciorys)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zyciorys)
        </dd>
        </br>
        </br>
        <dt>
            @Html.DisplayNameFor(model=>model.AuthorBooks)
        </dt>
        </br>

        <dd>
            <table class="<table">
                <tr>
                    <th>Tytuł Książki</th>
                </tr>
                @foreach(var item in Model.AuthorBooks)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem=> item.Book.Tytul)</td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
