@model seminarium.Models.Author

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Autor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Imię
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            Data urodzenia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_ur)
        </dd>

        <dt>
           Życiorys
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zyciorys)
        </dd>
        </br>
        </br>
        <dt>
            Książki Autora
        </dt>
        </br>

        <dd>
            <table class="<table">
                <tr>
                    <th>Tytuł Książki</th>
                </tr>
                @foreach(var item in Model.AuthorBooks)
                {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Book.Tytul)</td>
            </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    
    @Html.ActionLink("Wróć", "Index")
</p>
