@model IEnumerable<seminarium.Models.Author>

@{
    ViewBag.Title = "Autorzy";
}

<h2>Autorzy</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_ur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zyciorys)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_ur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zyciorys)
        </td>
        <td>
           
            @Html.ActionLink("Szczegóły", "Details", new { id=item.ID }) 
            
        </td>
    </tr>
}

</table>
