@model seminarium.Models.AuthorBook

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AuthorBook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.Tytul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Tytul)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
