@model seminarium.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tytul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strony)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strony)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rok_wydania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rok_wydania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Streszczenie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Streszczenie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>
        </br></br>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorBooks)
        </dt>
        </br>
        <dd>
            <table class="table">
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                </tr>
                @foreach (var item in Model.AuthorBooks)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Author.Imie)</td>
                        <td>@Html.DisplayFor(modelItem => item.Author.Nazwisko)</td>
                        <td>@Html.ActionLink("Przejdź", "../Author/Details", new { id = Model.AuthorID })</td>
                    </tr>
                }
            </table>
        </dd>
        </br></br>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryBooks)
        </dt>
        </br>
        <dd>
            <table class="table">
                <tr>
                    <th>Kategoria</th>
                </tr>
                @foreach (var item in Model.CategoryBooks)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Category.Nazwa)</td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
