@model IEnumerable<seminarium.Models.Book>

@{
    ViewBag.Title = "Książki";
}

<h2>Książki</h2>
@using (Html.BeginForm())
{
    <p>
        Znajdź: @Html.TextBox("searchString")
        <input type="submit" value="Szukaj"/>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Tytuł", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Strony)
        </th>
        <th>
            Rok wydania
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tytul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Strony)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rok_wydania)
        </td>
        
        <td>
          
            @Html.ActionLink("Szczegóły", "Details", new { id=item.ID }) 
        </td>
    </tr>
}

</table>
